table {
	height: 300px;

	width: 650px;

	text-align: center;



}

td {
background-color:LightGreen; 
padding: 5px 5px;
border-top: 3px solid;
border-bottom: 3px solid;
border-right: 3px solid;
border-left: 3px solid;
font-family: 
}

th {
background-color: LimeGreen;
padding: 5px 5px;
border: 1px;
margin-left:8px;
border-top: 3px solid;
border-bottom: 3px solid;
border-right: 3px solid;
border-left: 3px solid;
font-family: Comic Sans MS;
font-size: 20px;
margin-left: 5px;


}

body {
background-color: LightCyan;
}

